@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&display=swap');

body{
    background-image: url("https://img.elo7.com.br/product/main/37908F5/logotipo-personalizado-para-oficinas-auto-socorro-lavador-oficinas.jpg");
    background-size: 100%;
}

img{
    width: 340px;
    height: 169px;
}